$color-green:#3BB44A;
$color-green-light: rgba(59, 180, 74, 1);
$color-link:rgba(0, 17, 168, 1);
$color-gray:rgba(0, 0, 0, 0.53);
$color-white: white;
$color-blue:rgba(0, 17, 168, 1);
$color-gray-teal:#D9D9D9;
$color-gray-light: rgba(0, 0, 0, 0.08);


$size-16: 16px;
$size-8: 8px;
$size-4: 4px;
$size-32: $size-16 * 2;

*{margin: 0;box-sizing: border-box;}
body{background-color: #F9F8F8;;}


.color-green{color: $color-green;}
.flex-item{
    display: flex;
    align-items: center;
    gap: 0px 10px;
    h1{
            font-size: $size-16 + 2;
    }
}

.container{padding: 0px 50px;}

.col-md-6{width: 50%; float: left;}
.col-md-8{width: 16%; float: left;}
.col-md-4{width: 33.333%; float: left;}
.row{display: flex;}

header{
    background-color: $color-white;
    padding: $size-4 + 2;
}

.menu-side{
    ul {
        list-style: none;
        justify-content: end;
        align-items: center;
        height: 46px;
        padding-right: $size-4;
        li a{
            text-decoration: none;
            color: #000000;
            font-size: $size-16;
        }
    }
}

.content-overly{
    h2{
        line-height: $size-32 + 7; 
        font-size: $size-16 * 2 - 2;
    }
    h2, h3{margin-bottom: $size-8 * 5;}
    h3{
        color: $color-gray;
        font-size: $size-8 * 3 + 2;
    }
}


@mixin btn1{
    padding: $size-4 * 2 $size-4 * 2;
    color: $color-white;
    background-color: $color-green;
    text-decoration: none;
    border-radius: $size-4;
}
.btn{
    display: inline-block;
    margin-top: $size-16;
    @include btn1();
}

.white-box{
    width: 100%;
    margin-top: $size-8 * 3 + 6;
    border-radius: $size-16 - 4;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    padding: 50px 50px;
    .img-overly{
        text-align: end;
        img{
            width: 80%;
        }
    }
}

.content-area{
    h4{
        color: #000;
        font-family: Kaisei Decol;
        font-size: $size-16 + 8;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.custom-width{
    display: flex;
    overflow: auto;
    width: 100%;
    float: left;
    &::-webkit-scrollbar{
        display: none;
    }
}

.shape{
    gap: 0 20px;
    align-items: center;
}
.course-card{
    border-radius: $size-8;
    border: 1px solid $color-gray-light;
    .card-img img{
        width: 262px;
    }
}
.card-details{
    padding: $size-8;
    h1{
        font-size: $size-16 + 2;
    }
    ul{
        list-style: none;
        padding-left: 0;
        margin-top: $size-16;
        line-height: $size-16 + 6;
    }
}

.carousel-slide {
    display: flex;
    width: 100%;
    gap: 0px $size-16;
}
.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: -36px;
    right: 0;
    left: 0;
}

.position-relative{
    position: relative;
}
.carousel-control {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    
}

.carousel-control.active-1 {
    background: $color-gray;
    width: 20px;
    border-radius: 8px;
}

.perpul-box{
    @extend .white-box;
    background-color: rgba(191, 178, 243, 1);
    h2,a{
        color: $color-white;
        font-size: $size-32 - 2;
    }
    .right-content{
        text-align: end;
    }
}