$color-green:#3BB44A;
$color-green-light: rgba(59, 180, 74, 1);
$color-link:rgba(0, 17, 168, 1);
$color-gray:rgba(0, 0, 0, 0.53);
$color-white: white;
$color-blue:rgba(0, 17, 168, 1);
$color-gray-teal:#D9D9D9;
$color-gray-light: rgba(0, 0, 0, 0.08);


$radius-16: 16px;
$radius-8: 8px;
$radius-4: 4px;


